# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# uv cache
.uv/

# Build artifacts
build/
dist/
*.egg-info/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

downloads/

.pytest_cache/
.coverage
htmlcov/
